{% for room in rooms %} 
                <span><a href="">@{{room.host.username}}</a></span><br><br>
                <a href="{% url 'room' room.id %}">{{room.name}}</a><br>
                <h4>TOPIC : {{room.topic}}</h4><br>
                {% if request.user == room.host %}
                <a href="{% url 'update' room.id %}">Edit</a><br>
                <a href="{% url 'delete' room.id %}">Delete</a><br><br><br>
                {% endif %}
                <!-- <small>TOPIC : {{room.topic}}</small><br> -->
                <hr>
                {% endfor %}
                 